NODE_ENV=production
DATABASE_URL="mysql://USUARIO:SENHA@HOST:3306/BANCO"
JWT_SECRET="CHAVE_ALEATORIA_COM_PELO_MENOS_32_CARACTERES"
CPF_HASH_SECRET="OUTRA_CHAVE_ALEATORIA_COM_PELO_MENOS_32_CARACTERES"
PORT=3000
FRONTEND_URL="https://seudominio.com"
ADMIN_NAME="Administrador"
ADMIN_EMAIL="admin@seudominio.com"
ADMIN_PASSWORD="SENHA_INICIAL_FORTE"
